.message {
  display: flex;
  flex-direction: column;
  flex: 0.55;
  background-color: #eee;
  border-radius: 5px;
  animation: side-message-list 1s ease-out forwards;
}
@keyframes side-message-list {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.message__header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
.message__headerInfo {
  flex-grow: 1;
  padding-left: 20px;
}
.message__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}
.message__headerInfo > p {
  color: grey;
}

.message__headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
.message__body {
  background: #d4eaee;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 30px;
}
.message__messages {
  position: relative;
  font-size: 16px;
  padding: 10px;
  background: #ffffff;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 30px;
}
.message__recieve {
  margin-left: auto;
  background-color: #dcf8c6;
}
.message__roomName {
  position: absolute;
  top: -23px;
  left: -20px;
  font-size: 12px;
  font-weight: 800;
}
.message__timeStamp {
  position: relative;
  font-size: xx-small;
  top: 10px;
  padding: 5px;
}

.message__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  border-bottom: 1px solid lightgrey;
  margin-left: 5px;
}
.message__footer > form {
  flex-grow: 1;
  display: flex;
}
.message__footer > form > input {
  flex: 1;
  font-size: 15px;
  outline: none;
  border-radius: 30px;
  border: none;
  transition: all 0.1s;
}
.message__footer > form > input:focus {
  outline: none;
  border: none;
}
.message__footer > form > input:focus-within {
  outline: none;
  border: none;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
}
.message__footer > .MuiSvgIcon-root {
  padding: 20px;
  color: grey;
}
