.button {
  font: inherit;
  border: 0.5px solid #91b3ce;
  background: #83abb3;
  color: rgb(0, 0, 0);
  padding: 0.5rem 3rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: rgba(255, 255, 255, 1);
  transition: all 0.2s;
}

.button:hover,
.button:active {
  background: #83abb3;
  border-color: #91b3ce;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
  border: 0.5px solid lightgray;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
